.hidden {
  display: none;
}

body {
  background-color: #2f3338;
  color: #e6e6e6;
}

mjx-container {
  color: #f6e7a1;   /* LaTeX math only */
}

h1 {
  text-align: left;
  font-variant: all-small-caps;
  font-size: 32px;
}

h2, h3, h4 {
  text-align: left;
  font-variant: all-small-caps;
  border-bottom: 0 solid rgba(0, 0, 0, .1);
  padding-bottom: .1rem;
}

a {
  color: #e6c96a;
}

h2 {
  border-bottom: 1px solid #e6c96a;
}